*,
*::before,
*::after {
	box-sizing : border-box;
	padding    : 0;
	margin     : 0;
}

.wrapper {
	display         : flex;
	justify-content : center;
	background      : linear-gradient(to right, #FF9424 50vw, #2499FF 50vw);
	width           : 100vw;
	height          : 100vh;
	padding         : 4%;
	overflow-x      : hidden;
}

.content {
	width  : 100%;
	height : fit-content;
}

.container {
	display         : flex;
	justify-content : flex-start;
	align-items     : center;
	flex-flow       : column nowrap;
	width           : 100%;
	padding         : 2%;
	margin          : 0;
	height          : fit-content;
	border-radius: 10px;
	background: #ffffff;
	box-shadow:  5px 5px 10px #353535;
}

.picture {
	width         : 25%;
	border-radius : 50%;
}

.text-content {
	width : 100%;
}

.text {
	width           : 100%;
	display         : flex;
	justify-content : center;
	align-items     : center;
	flex-flow       : row nowrap;
	gap             : 1rem;
}

.title {
	padding         : 0 2rem 2rem 2rem;
	gap             : 1rem;
	display         : flex;
	justify-content : center;
	align-items     : center;
	flex-flow       : column nowrap;
}

@media (max-width : 768px) {
	.picture {
		width        : 60%;
	}

	.text {
		flex-flow : column nowrap;
	}

	.text-content {
		justify-self : flex-start;
	}
}

.navbar {
	width : 100%;
}

h1 {
	width      : 100%;
	margin     : 1rem;
	text-align : center;
}