/* Style for the body to set background colors */
body {
  margin: 0;
  height: 100dvh;
  display: flex;
  position: relative;
}

/* Split background colors */
body::before,
body::after {
  content: "";
  width: 50%;
  position: fixed;
  height: 100%;
  top: 0;
  z-index: -1;
}

body::before {
  background-color: #ff9424;
  left: 0;
  font-family: "Anta", sans-serif;
}

body::after {
  background-color: #023047;
  right: 0;
}

.cont {
  width: 100%;
  display: grid;
  flex-direction: column;
  /* justify-content: center; */
  align-items: start;
  position: relative;
  z-index: 1;
  bottom: 0;
  margin-top: 100px;
  margin-left: 100px;
  background-color: white;
  margin-right: 0;
  padding: 20px;
}

.cont nav {
  width: 100%;
  height: 100px;
  font-size: 1.75rem;
}

.content {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  align-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content h1,
p {
  padding: 30px;
}

p {
  font-size: 1.5rem;
}
.text {
  max-width: 900px;
}
.picture {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.picture img {
  border-radius: 100%;
  height: 300px;
}
